{
  "name": "amj-audios",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/style.scss",
      "imports": [
        "assets/sass/bootstrap4.0/bootstrap.scss",
        "assets/sass/style/_mixin.scss",
        "assets/sass/style/_reset.scss",
        "assets/sass/style/_variaveis.scss",
        "assets/sass/style/_fonts.scss",
        "assets/sass/owl-carousel/owl.carousel.scss",
        "assets/sass/owl-carousel/_theme.default.scss",
        "assets/sass/horizontal-timeline/horizontal-timeline.scss",
        "assets/sass/style/_estrutura.scss",
        "assets/sass/style/_elementos.scss",
        "assets/sass/style/_form.scss",
        "assets/sass/style/_modal.scss",
        "assets/sass/style/_nav.scss",
        "assets/sass/style/_slide.scss",
        "assets/sass/style/_header.scss",
        "assets/sass/style/_sidebar.scss",
        "assets/sass/style/_footer.scss",
        "assets/sass/style/_cores.scss",
        "assets/sass/style/_scrollbar.scss",
        "assets/sass/style/page/_page.scss",
        "assets/sass/style/page/_archive.scss",
        "assets/sass/style/page/_home.scss",
        "assets/sass/style/page/_contato.scss",
        "assets/sass/bootstrap4.0/_functions.scss",
        "assets/sass/bootstrap4.0/_variables.scss",
        "assets/sass/bootstrap4.0/_mixins.scss",
        "assets/sass/bootstrap4.0/_root.scss",
        "assets/sass/bootstrap4.0/_reboot.scss",
        "assets/sass/bootstrap4.0/_type.scss",
        "assets/sass/bootstrap4.0/_images.scss",
        "assets/sass/bootstrap4.0/_code.scss",
        "assets/sass/bootstrap4.0/_grid.scss",
        "assets/sass/bootstrap4.0/_tables.scss",
        "assets/sass/bootstrap4.0/_forms.scss",
        "assets/sass/bootstrap4.0/_buttons.scss",
        "assets/sass/bootstrap4.0/_transitions.scss",
        "assets/sass/bootstrap4.0/_dropdown.scss",
        "assets/sass/bootstrap4.0/_button-group.scss",
        "assets/sass/bootstrap4.0/_input-group.scss",
        "assets/sass/bootstrap4.0/_custom-forms.scss",
        "assets/sass/bootstrap4.0/_nav.scss",
        "assets/sass/bootstrap4.0/_navbar.scss",
        "assets/sass/bootstrap4.0/_card.scss",
        "assets/sass/bootstrap4.0/_breadcrumb.scss",
        "assets/sass/bootstrap4.0/_pagination.scss",
        "assets/sass/bootstrap4.0/_badge.scss",
        "assets/sass/bootstrap4.0/_jumbotron.scss",
        "assets/sass/bootstrap4.0/_alert.scss",
        "assets/sass/bootstrap4.0/_progress.scss",
        "assets/sass/bootstrap4.0/_media.scss",
        "assets/sass/bootstrap4.0/_list-group.scss",
        "assets/sass/bootstrap4.0/_close.scss",
        "assets/sass/bootstrap4.0/_modal.scss",
        "assets/sass/bootstrap4.0/_tooltip.scss",
        "assets/sass/bootstrap4.0/_popover.scss",
        "assets/sass/bootstrap4.0/_carousel.scss",
        "assets/sass/bootstrap4.0/_utilities.scss",
        "assets/sass/bootstrap4.0/_print.scss",
        "assets/sass/fontawesome/fontawesome.scss",
        "assets/sass/fontawesome/solid.scss",
        "assets/sass/fontawesome/brands.scss",
        "assets/sass/fontawesome/regular.scss",
        "assets/sass/owl-carousel/_core.scss",
        "assets/sass/owl-carousel/_animate.scss",
        "assets/sass/owl-carousel/_autoheight.scss",
        "assets/sass/owl-carousel/_lazyload.scss",
        "assets/sass/owl-carousel/_video.scss",
        "assets/sass/owl-carousel/_theme.scss",
        "assets/sass/bootstrap4.0/mixins/_breakpoints.scss",
        "assets/sass/bootstrap4.0/mixins/_hover.scss",
        "assets/sass/bootstrap4.0/mixins/_image.scss",
        "assets/sass/bootstrap4.0/mixins/_badge.scss",
        "assets/sass/bootstrap4.0/mixins/_resize.scss",
        "assets/sass/bootstrap4.0/mixins/_screen-reader.scss",
        "assets/sass/bootstrap4.0/mixins/_size.scss",
        "assets/sass/bootstrap4.0/mixins/_reset-text.scss",
        "assets/sass/bootstrap4.0/mixins/_text-emphasis.scss",
        "assets/sass/bootstrap4.0/mixins/_text-hide.scss",
        "assets/sass/bootstrap4.0/mixins/_text-truncate.scss",
        "assets/sass/bootstrap4.0/mixins/_visibility.scss",
        "assets/sass/bootstrap4.0/mixins/_alert.scss",
        "assets/sass/bootstrap4.0/mixins/_buttons.scss",
        "assets/sass/bootstrap4.0/mixins/_caret.scss",
        "assets/sass/bootstrap4.0/mixins/_pagination.scss",
        "assets/sass/bootstrap4.0/mixins/_lists.scss",
        "assets/sass/bootstrap4.0/mixins/_list-group.scss",
        "assets/sass/bootstrap4.0/mixins/_nav-divider.scss",
        "assets/sass/bootstrap4.0/mixins/_forms.scss",
        "assets/sass/bootstrap4.0/mixins/_table-row.scss",
        "assets/sass/bootstrap4.0/mixins/_background-variant.scss",
        "assets/sass/bootstrap4.0/mixins/_border-radius.scss",
        "assets/sass/bootstrap4.0/mixins/_box-shadow.scss",
        "assets/sass/bootstrap4.0/mixins/_gradients.scss",
        "assets/sass/bootstrap4.0/mixins/_transition.scss",
        "assets/sass/bootstrap4.0/mixins/_clearfix.scss",
        "assets/sass/bootstrap4.0/mixins/_navbar-align.scss",
        "assets/sass/bootstrap4.0/mixins/_grid-framework.scss",
        "assets/sass/bootstrap4.0/mixins/_grid.scss",
        "assets/sass/bootstrap4.0/mixins/_float.scss",
        "assets/sass/bootstrap4.0/utilities/_align.scss",
        "assets/sass/bootstrap4.0/utilities/_background.scss",
        "assets/sass/bootstrap4.0/utilities/_borders.scss",
        "assets/sass/bootstrap4.0/utilities/_clearfix.scss",
        "assets/sass/bootstrap4.0/utilities/_display.scss",
        "assets/sass/bootstrap4.0/utilities/_embed.scss",
        "assets/sass/bootstrap4.0/utilities/_flex.scss",
        "assets/sass/bootstrap4.0/utilities/_float.scss",
        "assets/sass/bootstrap4.0/utilities/_position.scss",
        "assets/sass/bootstrap4.0/utilities/_screenreaders.scss",
        "assets/sass/bootstrap4.0/utilities/_sizing.scss",
        "assets/sass/bootstrap4.0/utilities/_spacing.scss",
        "assets/sass/bootstrap4.0/utilities/_text.scss",
        "assets/sass/bootstrap4.0/utilities/_visibility.scss",
        "assets/sass/fontawesome/_variables.scss",
        "assets/sass/fontawesome/_mixins.scss",
        "assets/sass/fontawesome/_core.scss",
        "assets/sass/fontawesome/_larger.scss",
        "assets/sass/fontawesome/_fixed-width.scss",
        "assets/sass/fontawesome/_list.scss",
        "assets/sass/fontawesome/_bordered-pulled.scss",
        "assets/sass/fontawesome/_animated.scss",
        "assets/sass/fontawesome/_rotated-flipped.scss",
        "assets/sass/fontawesome/_stacked.scss",
        "assets/sass/fontawesome/_icons.scss",
        "assets/sass/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/sass/bootstrap4.0/bootstrap-grid.scss",
      "imports": [
        "assets/sass/bootstrap4.0/_functions.scss",
        "assets/sass/bootstrap4.0/_variables.scss",
        "assets/sass/bootstrap4.0/mixins/_breakpoints.scss",
        "assets/sass/bootstrap4.0/mixins/_grid-framework.scss",
        "assets/sass/bootstrap4.0/mixins/_grid.scss",
        "assets/sass/bootstrap4.0/_grid.scss",
        "assets/sass/bootstrap4.0/utilities/_display.scss",
        "assets/sass/bootstrap4.0/utilities/_flex.scss"
      ]
    },
    {
      "path": "assets/sass/bootstrap4.0/bootstrap-reboot.scss",
      "imports": [
        "assets/sass/bootstrap4.0/_functions.scss",
        "assets/sass/bootstrap4.0/_variables.scss",
        "assets/sass/bootstrap4.0/_mixins.scss",
        "assets/sass/bootstrap4.0/_reboot.scss",
        "assets/sass/bootstrap4.0/mixins/_breakpoints.scss",
        "assets/sass/bootstrap4.0/mixins/_hover.scss",
        "assets/sass/bootstrap4.0/mixins/_image.scss",
        "assets/sass/bootstrap4.0/mixins/_badge.scss",
        "assets/sass/bootstrap4.0/mixins/_resize.scss",
        "assets/sass/bootstrap4.0/mixins/_screen-reader.scss",
        "assets/sass/bootstrap4.0/mixins/_size.scss",
        "assets/sass/bootstrap4.0/mixins/_reset-text.scss",
        "assets/sass/bootstrap4.0/mixins/_text-emphasis.scss",
        "assets/sass/bootstrap4.0/mixins/_text-hide.scss",
        "assets/sass/bootstrap4.0/mixins/_text-truncate.scss",
        "assets/sass/bootstrap4.0/mixins/_visibility.scss",
        "assets/sass/bootstrap4.0/mixins/_alert.scss",
        "assets/sass/bootstrap4.0/mixins/_buttons.scss",
        "assets/sass/bootstrap4.0/mixins/_caret.scss",
        "assets/sass/bootstrap4.0/mixins/_pagination.scss",
        "assets/sass/bootstrap4.0/mixins/_lists.scss",
        "assets/sass/bootstrap4.0/mixins/_list-group.scss",
        "assets/sass/bootstrap4.0/mixins/_nav-divider.scss",
        "assets/sass/bootstrap4.0/mixins/_forms.scss",
        "assets/sass/bootstrap4.0/mixins/_table-row.scss",
        "assets/sass/bootstrap4.0/mixins/_background-variant.scss",
        "assets/sass/bootstrap4.0/mixins/_border-radius.scss",
        "assets/sass/bootstrap4.0/mixins/_box-shadow.scss",
        "assets/sass/bootstrap4.0/mixins/_gradients.scss",
        "assets/sass/bootstrap4.0/mixins/_transition.scss",
        "assets/sass/bootstrap4.0/mixins/_clearfix.scss",
        "assets/sass/bootstrap4.0/mixins/_navbar-align.scss",
        "assets/sass/bootstrap4.0/mixins/_grid-framework.scss",
        "assets/sass/bootstrap4.0/mixins/_grid.scss",
        "assets/sass/bootstrap4.0/mixins/_float.scss"
      ]
    },
    {
      "path": "assets/sass/bootstrap4.0/bootstrap.scss",
      "imports": [
        "assets/sass/bootstrap4.0/_functions.scss",
        "assets/sass/bootstrap4.0/_variables.scss",
        "assets/sass/bootstrap4.0/_mixins.scss",
        "assets/sass/bootstrap4.0/_root.scss",
        "assets/sass/bootstrap4.0/_reboot.scss",
        "assets/sass/bootstrap4.0/_type.scss",
        "assets/sass/bootstrap4.0/_images.scss",
        "assets/sass/bootstrap4.0/_code.scss",
        "assets/sass/bootstrap4.0/_grid.scss",
        "assets/sass/bootstrap4.0/_tables.scss",
        "assets/sass/bootstrap4.0/_forms.scss",
        "assets/sass/bootstrap4.0/_buttons.scss",
        "assets/sass/bootstrap4.0/_transitions.scss",
        "assets/sass/bootstrap4.0/_dropdown.scss",
        "assets/sass/bootstrap4.0/_button-group.scss",
        "assets/sass/bootstrap4.0/_input-group.scss",
        "assets/sass/bootstrap4.0/_custom-forms.scss",
        "assets/sass/bootstrap4.0/_nav.scss",
        "assets/sass/bootstrap4.0/_navbar.scss",
        "assets/sass/bootstrap4.0/_card.scss",
        "assets/sass/bootstrap4.0/_breadcrumb.scss",
        "assets/sass/bootstrap4.0/_pagination.scss",
        "assets/sass/bootstrap4.0/_badge.scss",
        "assets/sass/bootstrap4.0/_jumbotron.scss",
        "assets/sass/bootstrap4.0/_alert.scss",
        "assets/sass/bootstrap4.0/_progress.scss",
        "assets/sass/bootstrap4.0/_media.scss",
        "assets/sass/bootstrap4.0/_list-group.scss",
        "assets/sass/bootstrap4.0/_close.scss",
        "assets/sass/bootstrap4.0/_modal.scss",
        "assets/sass/bootstrap4.0/_tooltip.scss",
        "assets/sass/bootstrap4.0/_popover.scss",
        "assets/sass/bootstrap4.0/_carousel.scss",
        "assets/sass/bootstrap4.0/_utilities.scss",
        "assets/sass/bootstrap4.0/_print.scss",
        "assets/sass/bootstrap4.0/mixins/_breakpoints.scss",
        "assets/sass/bootstrap4.0/mixins/_hover.scss",
        "assets/sass/bootstrap4.0/mixins/_image.scss",
        "assets/sass/bootstrap4.0/mixins/_badge.scss",
        "assets/sass/bootstrap4.0/mixins/_resize.scss",
        "assets/sass/bootstrap4.0/mixins/_screen-reader.scss",
        "assets/sass/bootstrap4.0/mixins/_size.scss",
        "assets/sass/bootstrap4.0/mixins/_reset-text.scss",
        "assets/sass/bootstrap4.0/mixins/_text-emphasis.scss",
        "assets/sass/bootstrap4.0/mixins/_text-hide.scss",
        "assets/sass/bootstrap4.0/mixins/_text-truncate.scss",
        "assets/sass/bootstrap4.0/mixins/_visibility.scss",
        "assets/sass/bootstrap4.0/mixins/_alert.scss",
        "assets/sass/bootstrap4.0/mixins/_buttons.scss",
        "assets/sass/bootstrap4.0/mixins/_caret.scss",
        "assets/sass/bootstrap4.0/mixins/_pagination.scss",
        "assets/sass/bootstrap4.0/mixins/_lists.scss",
        "assets/sass/bootstrap4.0/mixins/_list-group.scss",
        "assets/sass/bootstrap4.0/mixins/_nav-divider.scss",
        "assets/sass/bootstrap4.0/mixins/_forms.scss",
        "assets/sass/bootstrap4.0/mixins/_table-row.scss",
        "assets/sass/bootstrap4.0/mixins/_background-variant.scss",
        "assets/sass/bootstrap4.0/mixins/_border-radius.scss",
        "assets/sass/bootstrap4.0/mixins/_box-shadow.scss",
        "assets/sass/bootstrap4.0/mixins/_gradients.scss",
        "assets/sass/bootstrap4.0/mixins/_transition.scss",
        "assets/sass/bootstrap4.0/mixins/_clearfix.scss",
        "assets/sass/bootstrap4.0/mixins/_navbar-align.scss",
        "assets/sass/bootstrap4.0/mixins/_grid-framework.scss",
        "assets/sass/bootstrap4.0/mixins/_grid.scss",
        "assets/sass/bootstrap4.0/mixins/_float.scss",
        "assets/sass/bootstrap4.0/utilities/_align.scss",
        "assets/sass/bootstrap4.0/utilities/_background.scss",
        "assets/sass/bootstrap4.0/utilities/_borders.scss",
        "assets/sass/bootstrap4.0/utilities/_clearfix.scss",
        "assets/sass/bootstrap4.0/utilities/_display.scss",
        "assets/sass/bootstrap4.0/utilities/_embed.scss",
        "assets/sass/bootstrap4.0/utilities/_flex.scss",
        "assets/sass/bootstrap4.0/utilities/_float.scss",
        "assets/sass/bootstrap4.0/utilities/_position.scss",
        "assets/sass/bootstrap4.0/utilities/_screenreaders.scss",
        "assets/sass/bootstrap4.0/utilities/_sizing.scss",
        "assets/sass/bootstrap4.0/utilities/_spacing.scss",
        "assets/sass/bootstrap4.0/utilities/_text.scss",
        "assets/sass/bootstrap4.0/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/sass/bootstrap4.0/_mixins.scss",
      "imports": [
        "assets/sass/bootstrap4.0/mixins/_breakpoints.scss",
        "assets/sass/bootstrap4.0/mixins/_hover.scss",
        "assets/sass/bootstrap4.0/mixins/_image.scss",
        "assets/sass/bootstrap4.0/mixins/_badge.scss",
        "assets/sass/bootstrap4.0/mixins/_resize.scss",
        "assets/sass/bootstrap4.0/mixins/_screen-reader.scss",
        "assets/sass/bootstrap4.0/mixins/_size.scss",
        "assets/sass/bootstrap4.0/mixins/_reset-text.scss",
        "assets/sass/bootstrap4.0/mixins/_text-emphasis.scss",
        "assets/sass/bootstrap4.0/mixins/_text-hide.scss",
        "assets/sass/bootstrap4.0/mixins/_text-truncate.scss",
        "assets/sass/bootstrap4.0/mixins/_visibility.scss",
        "assets/sass/bootstrap4.0/mixins/_alert.scss",
        "assets/sass/bootstrap4.0/mixins/_buttons.scss",
        "assets/sass/bootstrap4.0/mixins/_caret.scss",
        "assets/sass/bootstrap4.0/mixins/_pagination.scss",
        "assets/sass/bootstrap4.0/mixins/_lists.scss",
        "assets/sass/bootstrap4.0/mixins/_list-group.scss",
        "assets/sass/bootstrap4.0/mixins/_nav-divider.scss",
        "assets/sass/bootstrap4.0/mixins/_forms.scss",
        "assets/sass/bootstrap4.0/mixins/_table-row.scss",
        "assets/sass/bootstrap4.0/mixins/_background-variant.scss",
        "assets/sass/bootstrap4.0/mixins/_border-radius.scss",
        "assets/sass/bootstrap4.0/mixins/_box-shadow.scss",
        "assets/sass/bootstrap4.0/mixins/_gradients.scss",
        "assets/sass/bootstrap4.0/mixins/_transition.scss",
        "assets/sass/bootstrap4.0/mixins/_clearfix.scss",
        "assets/sass/bootstrap4.0/mixins/_navbar-align.scss",
        "assets/sass/bootstrap4.0/mixins/_grid-framework.scss",
        "assets/sass/bootstrap4.0/mixins/_grid.scss",
        "assets/sass/bootstrap4.0/mixins/_float.scss"
      ]
    },
    {
      "path": "assets/sass/bootstrap4.0/_utilities.scss",
      "imports": [
        "assets/sass/bootstrap4.0/utilities/_align.scss",
        "assets/sass/bootstrap4.0/utilities/_background.scss",
        "assets/sass/bootstrap4.0/utilities/_borders.scss",
        "assets/sass/bootstrap4.0/utilities/_clearfix.scss",
        "assets/sass/bootstrap4.0/utilities/_display.scss",
        "assets/sass/bootstrap4.0/utilities/_embed.scss",
        "assets/sass/bootstrap4.0/utilities/_flex.scss",
        "assets/sass/bootstrap4.0/utilities/_float.scss",
        "assets/sass/bootstrap4.0/utilities/_position.scss",
        "assets/sass/bootstrap4.0/utilities/_screenreaders.scss",
        "assets/sass/bootstrap4.0/utilities/_sizing.scss",
        "assets/sass/bootstrap4.0/utilities/_spacing.scss",
        "assets/sass/bootstrap4.0/utilities/_text.scss",
        "assets/sass/bootstrap4.0/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/sass/fontawesome/brands.scss",
      "imports": [
        "assets/sass/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "assets/sass/fontawesome/fontawesome.scss",
      "imports": [
        "assets/sass/fontawesome/_variables.scss",
        "assets/sass/fontawesome/_mixins.scss",
        "assets/sass/fontawesome/_core.scss",
        "assets/sass/fontawesome/_larger.scss",
        "assets/sass/fontawesome/_fixed-width.scss",
        "assets/sass/fontawesome/_list.scss",
        "assets/sass/fontawesome/_bordered-pulled.scss",
        "assets/sass/fontawesome/_animated.scss",
        "assets/sass/fontawesome/_rotated-flipped.scss",
        "assets/sass/fontawesome/_stacked.scss",
        "assets/sass/fontawesome/_icons.scss",
        "assets/sass/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/sass/fontawesome/regular.scss",
      "imports": [
        "assets/sass/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "assets/sass/fontawesome/solid.scss",
      "imports": [
        "assets/sass/fontawesome/_variables.scss"
      ]
    },
    {
      "path": "assets/sass/fontawesome/v4-shims.scss",
      "imports": [
        "assets/sass/fontawesome/_variables.scss",
        "assets/sass/fontawesome/_shims.scss"
      ]
    },
    {
      "path": "assets/sass/owl-carousel/owl.carousel.scss",
      "imports": [
        "assets/sass/owl-carousel/_core.scss",
        "assets/sass/owl-carousel/_animate.scss",
        "assets/sass/owl-carousel/_autoheight.scss",
        "assets/sass/owl-carousel/_lazyload.scss",
        "assets/sass/owl-carousel/_video.scss"
      ]
    },
    {
      "path": "assets/sass/owl-carousel/owl.theme.default.scss",
      "imports": [
        "assets/sass/owl-carousel/_theme.default.scss",
        "assets/sass/owl-carousel/_theme.scss"
      ]
    },
    {
      "path": "assets/sass/owl-carousel/owl.theme.green.scss",
      "imports": [
        "assets/sass/owl-carousel/_theme.green.scss",
        "assets/sass/owl-carousel/_theme.scss"
      ]
    },
    {
      "path": "assets/sass/owl-carousel/_theme.default.scss",
      "imports": [
        "assets/sass/owl-carousel/_theme.scss"
      ]
    },
    {
      "path": "assets/sass/owl-carousel/_theme.green.scss",
      "imports": [
        "assets/sass/owl-carousel/_theme.scss"
      ]
    },
    {
      "path": "assets/sass/style/_fonts.scss",
      "imports": [
        "assets/sass/fontawesome/fontawesome.scss",
        "assets/sass/fontawesome/solid.scss",
        "assets/sass/fontawesome/brands.scss",
        "assets/sass/fontawesome/regular.scss",
        "assets/sass/fontawesome/_variables.scss",
        "assets/sass/fontawesome/_mixins.scss",
        "assets/sass/fontawesome/_core.scss",
        "assets/sass/fontawesome/_larger.scss",
        "assets/sass/fontawesome/_fixed-width.scss",
        "assets/sass/fontawesome/_list.scss",
        "assets/sass/fontawesome/_bordered-pulled.scss",
        "assets/sass/fontawesome/_animated.scss",
        "assets/sass/fontawesome/_rotated-flipped.scss",
        "assets/sass/fontawesome/_stacked.scss",
        "assets/sass/fontawesome/_icons.scss",
        "assets/sass/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/sass/horizontal-timeline/style/style.scss",
      "imports": [
        "assets/sass/horizontal-timeline/style/_base.scss",
        "assets/sass/horizontal-timeline/style/_custom-style.scss",
        "assets/sass/horizontal-timeline/style/base/_reset.scss",
        "assets/sass/horizontal-timeline/style/base/_mixins.scss",
        "assets/sass/horizontal-timeline/style/base/_colors.scss",
        "assets/sass/horizontal-timeline/style/base/_breakpoints.scss",
        "assets/sass/horizontal-timeline/style/base/_spacing.scss",
        "assets/sass/horizontal-timeline/style/base/_grid-layout.scss",
        "assets/sass/horizontal-timeline/style/base/_shared-styles.scss",
        "assets/sass/horizontal-timeline/style/base/_typography.scss",
        "assets/sass/horizontal-timeline/style/base/_icons.scss",
        "assets/sass/horizontal-timeline/style/base/_buttons.scss",
        "assets/sass/horizontal-timeline/style/base/_forms.scss",
        "assets/sass/horizontal-timeline/style/base/_z-index.scss",
        "assets/sass/horizontal-timeline/style/base/_visibility.scss",
        "assets/sass/horizontal-timeline/style/base/_accessibility.scss",
        "assets/sass/horizontal-timeline/style/base/_util.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_colors.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_spacing.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_shared-styles.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_typography.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_icons.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_buttons.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_forms.scss"
      ]
    },
    {
      "path": "assets/sass/horizontal-timeline/style/_base.scss",
      "imports": [
        "assets/sass/horizontal-timeline/style/base/_reset.scss",
        "assets/sass/horizontal-timeline/style/base/_mixins.scss",
        "assets/sass/horizontal-timeline/style/base/_colors.scss",
        "assets/sass/horizontal-timeline/style/base/_breakpoints.scss",
        "assets/sass/horizontal-timeline/style/base/_spacing.scss",
        "assets/sass/horizontal-timeline/style/base/_grid-layout.scss",
        "assets/sass/horizontal-timeline/style/base/_shared-styles.scss",
        "assets/sass/horizontal-timeline/style/base/_typography.scss",
        "assets/sass/horizontal-timeline/style/base/_icons.scss",
        "assets/sass/horizontal-timeline/style/base/_buttons.scss",
        "assets/sass/horizontal-timeline/style/base/_forms.scss",
        "assets/sass/horizontal-timeline/style/base/_z-index.scss",
        "assets/sass/horizontal-timeline/style/base/_visibility.scss",
        "assets/sass/horizontal-timeline/style/base/_accessibility.scss",
        "assets/sass/horizontal-timeline/style/base/_util.scss"
      ]
    },
    {
      "path": "assets/sass/horizontal-timeline/style/_custom-style.scss",
      "imports": [
        "assets/sass/horizontal-timeline/style/custom-style/_colors.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_spacing.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_shared-styles.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_typography.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_icons.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_buttons.scss",
        "assets/sass/horizontal-timeline/style/custom-style/_forms.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "https://ederton.com.br/preview/amj-audios/"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/preview/amj-audios",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": false,
      "host": "31.170.161.238",
      "port": 21,
      "user": "ederton@ederton.com.br",
      "password": "M0needer!@"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": ".htaccess",
        "ctime": "2020-04-02T17:37:16.332Z",
        "mtime": "2020-02-21T21:09:34.858Z",
        "size": 135
      },
      {
        "file": "assets/css/jquery.fancybox.min.css",
        "ctime": "2020-04-02T17:34:27.001Z",
        "mtime": "2019-11-11T17:16:51.467Z",
        "size": 14065
      },
      {
        "file": "assets/css/style.css",
        "ctime": "2020-04-02T17:34:27.028Z",
        "mtime": "2020-03-31T04:37:01.528Z",
        "size": 145493
      },
      {
        "file": "assets/images/logo.jpg",
        "ctime": "2020-04-02T17:30:23.166Z",
        "mtime": "2020-03-31T02:47:27.449Z",
        "size": 9683
      },
      {
        "file": "assets/images/logo.png",
        "ctime": "2020-04-02T17:30:19.700Z",
        "mtime": "2020-03-31T02:54:02.130Z",
        "size": 4497
      },
      {
        "file": "assets/js/bootstrap.min.js",
        "ctime": "2020-04-02T17:37:00.393Z",
        "mtime": "2019-11-08T14:29:42.032Z",
        "size": 48950
      },
      {
        "file": "assets/js/jquery-3.2.1.slim.min.js",
        "ctime": "2020-04-02T17:36:59.995Z",
        "mtime": "2019-11-08T14:29:42.047Z",
        "size": 69601
      },
      {
        "file": "assets/js/jquery-3.3.1.min.js",
        "ctime": "2020-04-02T17:37:00.176Z",
        "mtime": "2019-11-06T01:03:20.727Z",
        "size": 86929
      },
      {
        "file": "assets/js/jquery.fancybox.min.js",
        "ctime": "2020-04-02T17:37:00.134Z",
        "mtime": "2019-11-11T17:16:51.627Z",
        "size": 61497
      },
      {
        "file": "assets/js/load-more.js",
        "ctime": "2020-04-02T17:37:00.337Z",
        "mtime": "2020-03-27T19:19:42.440Z",
        "size": 1138
      },
      {
        "file": "assets/js/owl.carousel.min.js",
        "ctime": "2020-04-02T17:37:00.215Z",
        "mtime": "2019-11-08T14:29:42.047Z",
        "size": 44348
      },
      {
        "file": "assets/js/popper.min.js",
        "ctime": "2020-04-02T17:37:00.099Z",
        "mtime": "2019-11-08T14:29:42.047Z",
        "size": 19193
      },
      {
        "file": "assets/css/bootstrap4.0/bootstrap-grid.css",
        "ctime": "2020-04-02T17:34:31.910Z",
        "mtime": "2019-11-08T14:29:41.750Z",
        "size": 34609
      },
      {
        "file": "assets/css/bootstrap4.0/bootstrap-reboot.css",
        "ctime": "2020-04-02T17:34:31.895Z",
        "mtime": "2019-11-08T14:29:41.750Z",
        "size": 3974
      },
      {
        "file": "assets/css/bootstrap4.0/bootstrap.css",
        "ctime": "2020-04-02T17:34:32.427Z",
        "mtime": "2019-11-08T14:29:41.751Z",
        "size": 150465
      },
      {
        "file": "assets/css/fontawesome/solid.css",
        "ctime": "2020-04-02T17:34:31.932Z",
        "mtime": "2019-11-08T14:29:41.753Z",
        "size": 645
      },
      {
        "file": "assets/css/fontawesome/v4-shims.css",
        "ctime": "2020-04-02T17:34:31.951Z",
        "mtime": "2019-11-08T14:29:41.753Z",
        "size": 34392
      },
      {
        "file": "assets/css/fontawesome/_variables.css",
        "ctime": "2020-04-02T17:34:31.961Z",
        "mtime": "2019-11-08T14:29:41.752Z",
        "size": 0
      },
      {
        "file": "assets/css/fonts/fa-brands-400.eot",
        "ctime": "2020-04-02T17:34:15.570Z",
        "mtime": "2019-11-08T14:29:41.757Z",
        "size": 129590
      },
      {
        "file": "assets/css/fonts/fa-brands-400.svg",
        "ctime": "2020-04-02T17:34:17.818Z",
        "mtime": "2019-11-08T14:29:41.762Z",
        "size": 694486
      },
      {
        "file": "assets/css/fonts/fa-brands-400.ttf",
        "ctime": "2020-04-02T17:34:11.453Z",
        "mtime": "2019-11-08T14:29:41.765Z",
        "size": 129284
      },
      {
        "file": "assets/css/fonts/fa-brands-400.woff",
        "ctime": "2020-04-02T17:33:34.918Z",
        "mtime": "2019-11-08T14:29:41.766Z",
        "size": 87520
      },
      {
        "file": "assets/css/fonts/fa-brands-400.woff2",
        "ctime": "2020-04-02T17:33:58.491Z",
        "mtime": "2019-11-08T14:29:41.767Z",
        "size": 74524
      },
      {
        "file": "assets/css/fonts/fa-regular-400.eot",
        "ctime": "2020-04-02T17:34:09.399Z",
        "mtime": "2019-11-08T14:29:41.768Z",
        "size": 34394
      },
      {
        "file": "assets/css/fonts/fa-regular-400.svg",
        "ctime": "2020-04-02T17:34:16.898Z",
        "mtime": "2019-11-08T14:29:41.769Z",
        "size": 145255
      },
      {
        "file": "assets/css/fonts/fa-regular-400.ttf",
        "ctime": "2020-04-02T17:34:23.955Z",
        "mtime": "2019-11-08T14:29:41.770Z",
        "size": 34096
      },
      {
        "file": "assets/css/fonts/fa-regular-400.woff",
        "ctime": "2020-04-02T17:34:26.314Z",
        "mtime": "2019-11-08T14:29:41.771Z",
        "size": 16804
      },
      {
        "file": "assets/css/fonts/fa-regular-400.woff2",
        "ctime": "2020-04-02T17:34:13.345Z",
        "mtime": "2019-11-08T14:29:41.771Z",
        "size": 13584
      },
      {
        "file": "assets/css/fonts/fa-solid-900.eot",
        "ctime": "2020-04-02T17:34:09.462Z",
        "mtime": "2019-11-08T14:29:41.774Z",
        "size": 192122
      },
      {
        "file": "assets/css/fonts/fa-solid-900.svg",
        "ctime": "2020-04-02T17:34:17.050Z",
        "mtime": "2019-11-08T14:29:41.779Z",
        "size": 844038
      },
      {
        "file": "assets/css/fonts/fa-solid-900.ttf",
        "ctime": "2020-04-02T17:34:13.322Z",
        "mtime": "2019-11-08T14:29:41.781Z",
        "size": 191836
      },
      {
        "file": "assets/css/fonts/fa-solid-900.woff",
        "ctime": "2020-04-02T17:34:23.393Z",
        "mtime": "2019-11-08T14:29:41.782Z",
        "size": 98016
      },
      {
        "file": "assets/css/fonts/fa-solid-900.woff2",
        "ctime": "2020-04-02T17:34:25.557Z",
        "mtime": "2019-11-08T14:29:41.783Z",
        "size": 75408
      },
      {
        "file": "assets/css/horizontal-timeline/horizontal-timeline.css",
        "ctime": "2020-04-02T17:31:42.086Z",
        "mtime": "2019-11-08T14:29:41.784Z",
        "size": 150
      },
      {
        "file": "assets/css/horizontal-timeline/style.css",
        "ctime": "2020-04-02T17:31:46.506Z",
        "mtime": "2019-11-08T14:29:41.784Z",
        "size": 1594
      },
      {
        "file": "assets/css/owl-carousel/owl.carousel.css",
        "ctime": "2020-04-02T17:31:50.166Z",
        "mtime": "2019-11-08T14:29:41.784Z",
        "size": 3924
      },
      {
        "file": "assets/css/owl-carousel/owl.theme.default.css",
        "ctime": "2020-04-02T17:31:55.916Z",
        "mtime": "2019-11-08T14:29:41.785Z",
        "size": 974
      },
      {
        "file": "assets/css/owl-carousel/_lazyload.css",
        "ctime": "2020-04-02T17:34:42.294Z",
        "mtime": "2020-04-02T17:34:42.294Z",
        "size": 675
      },
      {
        "file": "assets/css/style/_fonts.css",
        "ctime": "2020-04-02T17:30:34.538Z",
        "mtime": "2019-11-08T14:29:41.787Z",
        "size": 57282
      },
      {
        "file": "assets/css/style/_mixin.css",
        "ctime": "2020-04-02T17:30:37.850Z",
        "mtime": "2019-11-08T14:29:41.788Z",
        "size": 0
      },
      {
        "file": "assets/css/style/_reset.css",
        "ctime": "2020-04-02T17:30:31.701Z",
        "mtime": "2019-11-08T14:29:41.788Z",
        "size": 518
      },
      {
        "file": "assets/js/horizontal-timeline/main.js",
        "ctime": "2020-04-02T17:37:09.612Z",
        "mtime": "2020-02-10T01:41:46.497Z",
        "size": 11689
      },
      {
        "file": "assets/js/horizontal-timeline/swipe-content.js",
        "ctime": "2020-04-02T17:37:09.580Z",
        "mtime": "2019-11-08T14:29:42.047Z",
        "size": 4470
      },
      {
        "file": "assets/js/horizontal-timeline/util.js",
        "ctime": "2020-04-02T17:37:09.563Z",
        "mtime": "2019-12-23T02:29:12.853Z",
        "size": 4819
      },
      {
        "file": "assets/js/scrollbar/jquery.scrollbar.js",
        "ctime": "2020-04-02T17:37:09.481Z",
        "mtime": "2020-03-03T16:23:51.830Z",
        "size": 32171
      },
      {
        "file": "assets/js/scrollmagic/debug.addIndicators.js",
        "ctime": "2020-04-02T17:37:09.368Z",
        "mtime": "2019-11-08T14:29:42.047Z",
        "size": 24070
      },
      {
        "file": "assets/js/scrollmagic/ScrollMagic.js",
        "ctime": "2020-04-02T17:37:09.434Z",
        "mtime": "2019-11-08T14:29:42.047Z",
        "size": 108938
      },
      {
        "file": "assets/css/bootstrap/css/bootstrap-grid.css",
        "ctime": "2020-04-02T17:31:37.262Z",
        "mtime": "2019-11-08T14:29:41.747Z",
        "size": 34609
      },
      {
        "file": "assets/css/bootstrap/css/bootstrap-reboot.css",
        "ctime": "2020-04-02T17:31:32.355Z",
        "mtime": "2019-11-08T14:29:41.747Z",
        "size": 3974
      },
      {
        "file": "assets/css/bootstrap/css/bootstrap.css",
        "ctime": "2020-04-02T17:31:38.693Z",
        "mtime": "2019-11-08T14:29:41.748Z",
        "size": 150465
      },
      {
        "file": "assets/css/bootstrap/css/_functions.css",
        "ctime": "2020-04-02T17:31:44.081Z",
        "mtime": "2019-11-08T14:29:41.746Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/css/_mixins.css",
        "ctime": "2020-04-02T17:31:36.179Z",
        "mtime": "2019-11-08T14:29:41.746Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap4.0/mixins/_background-variant.css",
        "ctime": "2020-04-02T17:35:42.597Z",
        "mtime": "2020-04-02T17:35:42.597Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap4.0/mixins/_pagination.css",
        "ctime": "2020-04-02T17:35:43.230Z",
        "mtime": "2020-04-02T17:35:43.230Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap4.0/mixins/_reset-text.css",
        "ctime": "2020-04-02T17:35:42.819Z",
        "mtime": "2020-04-02T17:35:42.819Z",
        "size": 0
      },
      {
        "file": "assets/css/style/page/_page.css",
        "ctime": "2020-04-02T17:30:43.976Z",
        "mtime": "2019-11-08T14:29:41.789Z",
        "size": 34
      },
      {
        "file": "assets/css/bootstrap/assets/css/docs.css",
        "ctime": "2020-04-02T17:31:28.667Z",
        "mtime": "2019-11-08T14:29:41.739Z",
        "size": 21950
      },
      {
        "file": "assets/css/bootstrap/assets/css/_examples.css",
        "ctime": "2020-04-02T17:31:16.490Z",
        "mtime": "2019-11-08T14:29:41.738Z",
        "size": 271
      },
      {
        "file": "assets/css/bootstrap/assets/css/_variables.css",
        "ctime": "2020-04-02T17:31:30.607Z",
        "mtime": "2019-11-08T14:29:41.739Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/bootstrap-grid.css",
        "ctime": "2020-04-02T17:31:15.524Z",
        "mtime": "2019-11-08T14:29:41.742Z",
        "size": 34609
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/bootstrap.css",
        "ctime": "2020-04-02T17:31:05.973Z",
        "mtime": "2019-11-08T14:29:41.743Z",
        "size": 150465
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/_functions.css",
        "ctime": "2020-04-02T17:31:08.987Z",
        "mtime": "2019-11-08T14:29:41.741Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/_mixins.css",
        "ctime": "2020-04-02T17:31:13.717Z",
        "mtime": "2019-11-08T14:29:41.742Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/css/mixins/_float.css",
        "ctime": "2020-04-02T17:31:47.747Z",
        "mtime": "2019-11-08T14:29:41.749Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/assets/css/docs.css",
        "ctime": "2020-04-02T17:31:06.386Z",
        "mtime": "2019-11-08T14:29:41.741Z",
        "size": 21950
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/mixins/_alert.css",
        "ctime": "2020-04-02T17:31:20.594Z",
        "mtime": "2019-11-08T14:29:41.744Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/mixins/_background-variant.css",
        "ctime": "2020-04-02T17:31:24.989Z",
        "mtime": "2019-11-08T14:29:41.744Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/mixins/_buttons.css",
        "ctime": "2020-04-02T17:31:18.883Z",
        "mtime": "2019-11-08T14:29:41.745Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/mixins/_float.css",
        "ctime": "2020-04-02T17:31:23.370Z",
        "mtime": "2019-11-08T14:29:41.745Z",
        "size": 0
      },
      {
        "file": "assets/css/bootstrap/bootstrap-4.0.0/css/mixins/_forms.css",
        "ctime": "2020-04-02T17:31:22.348Z",
        "mtime": "2019-11-08T14:29:41.745Z",
        "size": 0
      },
      {
        "file": "config.php",
        "ctime": "2020-04-02T18:40:17.336Z",
        "mtime": "2020-04-02T18:40:17.336Z",
        "size": 168
      },
      {
        "file": "footer.php",
        "ctime": "2020-04-02T17:37:16.563Z",
        "mtime": "2020-03-31T04:09:02.099Z",
        "size": 2525
      },
      {
        "file": "front-page.old.php",
        "ctime": "2020-04-02T17:37:16.396Z",
        "mtime": "2020-03-30T16:02:20.468Z",
        "size": 1202
      },
      {
        "file": "function.php",
        "ctime": "2020-04-02T17:37:16.261Z",
        "mtime": "2020-03-31T03:04:24.802Z",
        "size": 628
      },
      {
        "file": "header.php",
        "ctime": "2020-04-02T17:37:16.377Z",
        "mtime": "2020-03-31T03:48:13.727Z",
        "size": 8714
      },
      {
        "file": "home.php",
        "ctime": "2020-04-02T17:37:16.456Z",
        "mtime": "2020-03-31T04:26:14.030Z",
        "size": 6112
      },
      {
        "file": "index.php",
        "ctime": "2020-04-02T17:37:16.305Z",
        "mtime": "2020-03-31T03:06:20.901Z",
        "size": 888
      },
      {
        "file": "README.md",
        "ctime": "2020-04-02T17:27:15.559Z",
        "mtime": "2020-04-02T17:10:12.063Z",
        "size": 21
      },
      {
        "file": "single.php",
        "ctime": "2020-04-02T17:37:16.498Z",
        "mtime": "2020-03-31T04:37:03.916Z",
        "size": 4507
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}