form {
	@include box-sizing;
	@include clear();

	&:not(.form-busca){
		margin: 20px auto 0;
	}

	&.form-search {
		margin-top: 20px;
	}

	.obs {
		font-size: .9rem;
		line-height: .9rem;
		font-style: italic;
		font-weight: $light;
		margin-bottom: 20px;
		display: block;
	}

	input, textarea {
		max-width: 100%;
		width: 100%;
		border-radius: 4px;

		font-size: .85rem; 
		color: $cor-txt;
		font-weight: $light;
		line-height: 40px;
		background-color: #ffffff;
		padding: 0 20px;
		font-style: normal;
		@include animacao;
		@include box-sizing;

		@include placeholder{
			opacity: 1;
			color: $cor-txt;
		}
	}

	input[type='text'], input[type='email'], input[type='password'] {
		height: 40px;		
	}

	textarea {
		padding-top: 10px;
		padding-bottom: 10px;
		height: 80px;
		resize: vertical;
		line-height: 1.25rem;
	}

	label {
		padding-left: 17px;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 3px;
		display: inline-block;
		cursor: pointer;
	}

	fieldset {
		margin-top: 15px;
		width: 100%;
		float: left;
		//clear: both;

		&:first-chid {
			margin-top: 0;
		}

		&.erro {
			input, textarea {
				border-color: $vermelho;
			}

			label {
				color: $vermelho;
			}
		}
	}

	&.form-busca {
		width: 100%;
		@include box-sizing;

		fieldset {
			position: relative;
			margin: 0;
			@include box-sizing;

			input {
				font-size: 1.25rem;
				height: 80px;
				line-height: 80px;
				padding-right: 80px;
				padding-left: 30px;

				@include placeholder{
					opacity: 0.75;
				}
			}

			button {
				height: auto;
				line-height: normal;
				text-align: center;
				position: absolute;
				top: 20px;
				right: 30px;
				padding: 0;
				border-color: transparent;
				background-color: transparent;

				i {
					font-size: 2.25rem;
					color: $cor1;
				}

				&:hover {
					background-color: transparent;
					i {
						color: darken($cor1, 10%);
					}
				}
			}
		}
	}

	&.contacto {
		max-width: 650px;
		padding: 0 60px;
		margin: 0px auto;

		@include m420 {
			padding: 0 50px;
		}
	}

	.legenda {
		padding: 10px;
		display: block;
		line-height: 1.25rem;

		strong {
			padding-bottom: 5px;
		}
	}
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

button, input[type='submit'], .button { 
	display: inline-block;
	width: auto;
	height: 35px;
	line-height: 32px;
	padding: 0 15px;
	font-weight: $regular; 
	border-radius: 5px;
	border: 2px solid $bgclaro;
	cursor: pointer;
	background-color: transparent;
	@include animacao;
	@include box-sizing();


	@include m420{
		line-height: 29px;
	}

	i {
		position: relative;
		top: 0px;
		font-size: 12px;
		@include animacao;
	}

	&:hover {
		background-color: $bgclaro;
	}

	&.grande {
		line-height: 51px;
		height: 53px;
		font-size: 1.5rem;
		padding: 0 40px;

		i {
			font-size: 16px;
			top: -1px;
		}
	}

	&.pequeno {
		line-height: 21px;
		height: 23px;
		padding: 0 10px;
		font-size: .85rem;

		i {
			//font-size: 12px;
			top: 0px;
		}
	}

	&.largo {
		padding-right: 25px;
		padding-left: 25px;
	}

	&.btn-full {
		width: 100%;
	}

	/*&.inline {
		height: auto;
		line-height: normal;
	}*/

	&.ico-right {
		i {
			margin-left: 5px;
		}
	}

	&.ico-left { 
		i {
			margin-right: 5px;
		}
	}

	&.enviar {
		height: 40px;
		line-height: 40px;
		color: #ffffff;
		border-color: #ffffff;

		&:hover {
			background-color: #ffffff;

			color: $cor1;
		}
	}
}

.select {
	overflow: hidden;
	padding: 0 0 0 10px;
	margin-bottom: 20px;
	display: block;
	position: relative;
	background-color: #ffffff;
	line-height: 43px;
	height: 43px;
	border-bottom: 1px solid $cor-txt;
	font-style: normal;

	@include box-sizing();

	select {
		width: 88%;
		padding-right: 135px;
		background-color: transparent;
		font-weight: $light;
		font-size: 1rem; 
		color: $cor-txt;
		box-sizing: content-box;
		position: relative;
		z-index: 99;
		cursor: pointer;
	}

	&:after {
		content: "\f078";
		font-weight: 900;
		position: absolute;
		right: 13px;
		top: 15px;
		font-family: 'Font Awesome 5 Free';
		cursor: pointer;
		height: 15px;
		line-height: 15px;
		z-index: 0;
	}
}

.txt-legenda-btn {
	padding-left: 15px;
	font-weight: $regular;

	a {
		font-weight: $regular;		
	}
}

/*input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {  
	opacity: 1;	
}

input::-webkit-input-placeholder {
    opacity: 0;
}
*/
.msg-form {
	display: block;
	font-size: 1rem;
	margin-bottom: 0px;
	font-weight: $regular;
	color: $cor1;

	strong {
		display: block;
		font-size: 1rem;
	}

	&.off {
		display: none;
	}

	&.erro {
		//color: $vermelho!important;
	}

	&.ok {
		//color: $cor1!important;
	}
}


.box-form-bg {
	padding: 40px;

	h3 {
		margin-top: 0!important;
	}
}