.content-admin {
	background: #ffffff;
	min-height: calc(100vh - 200px);
	border-radius: 4px;
	padding: 25px 20px;
}

.login {
	.admin {
		width: 80%;
		max-width: 400px;
		margin: 0 auto;
	}

	.content-admin {
		min-height: 0px;
	}
}