.table {
	display: block;
	margin: 0;
	width: 100%;

	.item-table {
		width: 100%;
		padding: 5px 5px;
		display: table;
		border-bottom: 1px solid $bgclaro;
		@include animacao;

		&:last-child {
			border: none;
		}

		&:not(.tit-table):hover {
			background: rgba($bgclaro, .5);

			.links {
				opacity: 1;
			}
		}

		span {
			display: table-cell;
			vertical-align: middle;
			font-size: .85rem;
			line-height: 40px;
			padding: 0 5px;

			a {
				display: inline;
				font-size: .85rem;

				&:hover {
					color: $cor1;
				}
			}

			&.box-titulo {
				//display: table;
				//width: 100%;

				.titulo, .links {
					display: table-cell;
					vertical-align: middle;
				}

				.titulo {
					font-size: .95rem;
					line-height: 1.125rem;
					font-weight: $regular;
				}

				.links {
					width: 135px;
					padding-left: 10px;
					opacity: 0;
					@include animacao;

					a {
						font-size: .75rem;
						margin-right: 3px;

						&.excluir {
							color: $vermelho;
							margin-right: 0px;

							&:hover {
								color: darken($vermelho, 5%);
							}
						}
					}
				}
			}

			&.data {
				width: 80px;
			}

			&.assunto {
				width: 200px;
				line-height: 1rem;
			}
		}

		&.tit-table {
			margin-bottom: 10px; 
			border-width: 2px;

			span {
				font-weight: $bold;
			}
		}
	}
}